<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- --- CDN links --- -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- --- Custom Css --- -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media.css">
    <title>Template</title>
</head>
<body>
    <!-- --- header --- -->
    <header> 
        <div class="slider">
            <div class="slider1">
                <img src="./img/banner.jpg" alt="">
                <div class="slider-content">
                    <h1>Epilogue</h1>
                    <p>A FREE RESPONSIVE SITE TEMPLATE BY <a href="#">TEMPLATED</a> </p>
                </div>
            </div>
        </div>
    </header>
    <main>
       <!-- --- About section --- -->
       <section class="about-section bg-light"> 
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="about-content">
                            <div class="card">
                                <div class="card-header">
                                    <div class="round-icon">
                                            <i class="far fa-gem"></i>
                                    </div>
                                </div>
                                <div class="card-body pb-0">
                                    <h1>MAGNA PORTA MAXIMUS</h1>
                                    <p class="py-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae
                                            malesuada turpis. Nam pellentesque in ac aliquam. Aliquam tempor
                                            mi porta egestas maximus lorem ipsum dolor.   
                                    </p>
                                </div>
                                <div class="card-footer">
                                        <a href="#" class="button">LEARN MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </section>
       <!-- --- Products section --- -->
       <section class="products-section bg-light"> 
           <div class="container">
               <div class="row">
                   <div class="col-12 col-lg-6">
                        <div class="card">
                                <div class="card-img-top">
                                    <a href="#"><h1>FEUGIAT ET FAUCIBUS</h1></a>
                                    <img src="./img/1.jpg" alt="">
                                </div>
                                <div class="card-body text-center">
                                    <p class="card-text py-4">Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
                                </div>
                                <div class="card-footer  text-center">
                                    <a href="#" class="button">more</a>
                                </div>
                        </div>
                   </div>
                   <div class="col-12 col-lg-6">
                        <div class="card">
                                <div class="card-img-top">
                                    <a href="#"><h1>Blandit adipiscing</h1></a>
                                    <img src="./img/2.jpg" alt="...">
                                </div>
                                <div class="card-body text-center">
                                    <p class="card-text py-4">Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
                                </div>
                                <div class="card-footer  text-center">
                                    <a href="#" class="button">more</a>
                                </div>
                        </div>
                   </div>
                   <div class="col-12 col-lg-6">
                        <div class="card">
                                <div class="card-img-top">
                                    <a href="#"><h1>Lorem massa nulla</h1></a>
                                    <img src="./img/3.jpg" alt="...">
                                </div>
                                <div class="card-body text-center">
                                    <p class="card-text py-4">Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
                                </div>
                                <div class="card-footer  text-center">
                                    <a href="#" class="button">more</a>
                                </div>
                        </div>
                   </div>
                   <div class="col-12 col-lg-6">
                        <div class="card">
                                <div class="card-img-top">
                                    <a href="#"><h1>Ipsum sed tempus</h1></a>
                                    <img src="./img/4.jpg" alt="...">
                                </div>
                                <div class="card-body text-center">
                                    <p class="card-text py-4">Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
                                </div>
                                <div class="card-footer  text-center">
                                    <a href="#" class="button">more</a>
                                </div>
                        </div>
                   </div>
               </div>
           </div>
       </section>
    </main>
    <!-- --- footer --- -->
    <footer class="text-center bg-light">  
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-lg-7">
                    <div class="card mx-auto bg-light">
                        <div class="card-body text-center">
                            <h1 class="card-title">ETIAM VEROEROS LOREM</h1>
                            <p class="card-text mx-auto my-4">Phasellus ac augue ac magna auctor tempus proin accumsan lacus a nibh commodo in pellentesque dui in hac habitasse platea dictumst.</p>
                            <a href="#" class="button">GET STARTED</a>
                        </div>
                    </div>
                    <div class="icons">
                        <a href="#"> <i class="fab fa-twitter"></i></a>
                        <a href="#"> <i class="fab fa-facebook-f"></i></a>
                        <a href="#"> <i class="fab fa-instagram"></i></a>
                        <a href="#"> <i class="fab fa-linkedin-in"></i></a>
                        <a href="#"> <i class="fas fa-envelope"></i></a>
                    </div>
                    <div class="copy">
                        <p><small>&copy; Untitled. Design: <a href="#">TEMPLATED</a>. Images: <a href="#">Unsplash</a>.</small></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>